<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>React Ecommerce</title>
</head>
<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
       <a href="index.html">The Laden</a>
      </div>
     <div class="header-links">
     <a href="cart.html">Cart</a>
     <a href="singin.html">Sign In</a>
     </div>
  </div>
    </header>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/p1.jpg" alt="product" > </img>
              <div class="product-name"> <a class="a-links-product" href="product.html">Shirt</a></div>
              <div class="product-brand">Disney - Start Wars</div>
              <div class="product-price">75 $</div>
              <div class="product-rating">5 stars</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/p1.jpg" alt="product" > </img>
              <div class="product-name"> <a class="a-links-product" href="product.html">Shirt</a></div>
              <div class="product-brand">Disney - Start Wars</div>
              <div class="product-price">75 $</div>
              <div class="product-rating">5 stars</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/p1.jpg" alt="product" > </img>
              <div class="product-name"> <a class="a-links-product" href="product.html">Shirt</a></div>
              <div class="product-brand">Disney - Start Wars</div>
              <div class="product-price">75 $</div>
              <div class="product-rating">5 stars</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/p1.jpg" alt="product" > </img>
              <div class="product-name"> <a class="a-links-product" href="product.html">Shirt</a></div>
              <div class="product-brand">Disney - Start Wars</div>
              <div class="product-price">75 $</div>
              <div class="product-rating">5 stars</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/p1.jpg" alt="product" > </img>
              <div class="product-name"> <a class="a-links-product" href="product.html">Shirt</a></div>
              <div class="product-brand">Disney - Start Wars</div>
              <div class="product-price">75 $</div>
              <div class="product-rating">5 stars</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/p1.jpg" alt="product" > </img>
              <div class="product-name"> <a class="a-links-product" href="product.html">Shirt</a></div>
              <div class="product-brand">Disney - Start Wars</div>
              <div class="product-price">75 $</div>
              <div class="product-rating">5 stars</div>
            </div>
          </li>
          
          
        </ul>
      </div>
    </main>
  
  <footer class="footer"> All right reserved </footer>
</body>
</html>